nav{
    background-color : rgb(red, green, blue);
    width:auto;
    height: max-content;
    text-align: center;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    margin: 2px;
    color: black;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
a:hover{
    color: goldenrod;
}
.acc{
    display: flex;
    flex-direction:row;
}
.register{
    text-align: right;
}

.navbar{
    margin:  auto;
    display: block;
    align-content: center;
}
.navlink{
    text-align: center;
    padding-left: 10px;
}
.front{
    display: flex;
    flex-direction: row;
    box-shadow:5px 5px 5px grey;
}
.shoeimage{
    width: 50%;
    background-color: cyan;
    margin-right: 0px;
}
p{
    display: flex;
    justify-content: center;
}
.shoedesc{
    width: 50%;
    padding-top: 100px;
    text-align: left;
    justify-content: left;
    background-color: cyan;
}
.shopsec{
    width: 90%;
    margin:auto;
   
}
.Shop{
    display: flex;
    flex-direction: column;
}
.Men,.Women{
    display: flex;
    flex-direction: row;
    margin: 2px;
}
.shoe{
    width: 22%;
    border: 2px solid #888888 ;
    height: 200px;
    margin: auto;
    justify-content: center;
}

img{
    width: 75%;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 20px;
    border: 2px solid #888888 ;
}
.frontimg{
    width: 120%;
    height: 120%;
    margin-right: 0%;
    justify-content: right;
    border: none;
}
.shopbutton{
    width: 20%;
    padding-left: 70px;
}
button{background-color: blueviolet;
color: white;}
.salesAnalysis{ 
text-align: center;
width:90%;
border: 2px solid grey;
margin: auto;}
.form{
    display: flex;
    flex-direction: column;
}
label {
    text-align:center;
    padding-right:10px;
}
