<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estyle.css"/>
    <title>Ecom site</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <h2>Shoe Website</h2>
            <hr>
            <a  class="navlink" href="#Shop">Shop</a>
            <a  class="navlink" href="salesanalysis.html" target="_blank">Sales analysis</a>
            <a class="navlink" href="#account">Account</a>
        </div>
    </nav>
    <br>
    <section class="front">
        <div class="shoeimage">
            <img class="frontimg" src="shoe.png">
        </div>
        <div class="shoedesc">
            <h1>Time for the Perfect shoes</h1>
            Best shoes at least prices
            <br>
            <br>
            <div class="shopbutton">
                <a href="#Shop">
                    <button >Shop Now</button>
            </a>
            </div>
        </div>
    </section>
    <br>
    <section class="shopsec">
        <h1>SHOES</h1>
        <div id="Shop" class="Shop">
            <h3>MEN</h3>
            <div class="Men">
                <div class="shoe">
                    <img src="download(0).jpg" alt="coming up soon">
                    <p> <a href="" ><button class="shoe1" >Buy</button></a></p>
                </div>
                <div class="shoe">
                    <img src="download(1).jpg" alt="coming up soon">
                    <p><a href="" > <button class="shoe1" >Buy</button></a></p>
                </div>
                <div class="shoe">
                    <img src="download(2).jpg" alt="coming up soon">
                    <p> <a href=""><button class="shoe1" >Buy</button></a></p>
                </div>
                <div class="shoe">
                    <img src="download(3).jpg" alt="coming up soon">
                    <p> <a href="" ><button class="shoe1">Buy</button></a></p>
                </div>
            </div>
            <br>
            <h3>WOMEN</h3>
            <div class="Women">
                <div class="shoe">
                    <img src="download(4).jpg" alt="coming up soon">
                    <p><a href="" ><button class="shoe1" >Buy</button></a></p>
                </div>
                <div class="shoe">
                    <img src="download(5).jpg" alt="coming up soon">
                   <p><a href="" ><button class="shoe1" >Buy</button></a></p>
                </div>
                <div class="shoe">
                    <img src="download(6).jpg" alt="coming up soon">
                    <p> <a href="" ><button class="shoe1">Buy</button></a></p>
                </div>
                <div class="shoe">
                    <img src="download(7).jpg" alt="coming up soon">
                    <p> <a href="" ><button class="shoe1" >Buy</button></a></p>
                </div>
            </div>
        </div>
    </section>

</body>
</html>
