<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estyle.css"/>
    <title>Ecom site</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <h2>Shoe Website</h2>
            <hr>
            <a  class="navlink" href="#Shop">Shop</a>
            <a  class="navlink" href="#salesAnalysis">Sales analysis</a>
            <a class="navlink" href="#account">Account</a>
        </div>
    </nav>
    <br>
    <section class="front">
        <div class="shoeimage">
            <img class="frontimg" src="shoe.png">
        </div>
        <div class="shoedesc">
            <h1>Time for the Perfect shoes</h1>
            Best shoes at least prices
            <br>
            <br>
            <div class="shopbutton">
                <a href="#Shop">
                    <button >Shop Now</button>
            </a>
            </div>
        </div>
    </section>
    <br>
    <section id="salesAnalysis" class="salesAnalysis">
        <h1>Sales Analysis</h1>
        <div class="graph">
            <h2>Graph will be here</h2>
        </div>
        <div class="formdiv">
            <form class="form" id="form">
                <label>TOTAL REVENUE   <input type="number" id="totalrevenue"/>   <select name="my-select" id="revenue">
                    <option value="opt1">Men</option>
                    <option value="opt2">Women</option>
                    <option value="opt3">Total</option>
                  </select>   <button>Find</button>  
                </label>
                <br>
                <label>TOTAL TODAY REVENUE   <input type="number" id="dailyrevenue"/>   <select name="my-select" id="todayrevenue">
                    <option value="opt1">Men</option>
                    <option value="opt2">Women</option>
                    <option value="opt3">Total</option>
                  </select>   <button>Find</button>  
                </label>
                <br>
                <label>TOP SELLING SHOE    <input type="number" id="topshoe"/><select name="my-select" >
                    <option value="opt1">Men</option>
                    <option value="opt2">Women</option>
                    <option value="opt3">Total</option>
                  </select>   <button>Find</button>  
                </label>
                <br>
                <label>STATUS OF SALES TARGET   <input type="number" id="salestargetstatus"/>   <select name="my-select" >
                    <option value="opt1">Last month</option>
                    <option value="opt2">Last Year</option>
                  </select>   <button>Find</button>  
                </label>
                <br>
                <label>ADD NEW SALES TARGET    <input type="number" id="salestargetnew"/>   <select name="my-select" >
                    <option value="opt1">Last month</option>
                    <option value="opt2">Last Year</option>
                  </select>   <button>Add</button>  
                </label>
                <br>
            </form>
        </div>
    </section>
    <br>
    <section class="shopsec">
        <div id="Shop" class="Shop">
            <div class="Men">
                <div class="shoe">
                    <img src="bck.jpg" alt="Picture glt laga di h tune">
                    <p> <button class="shoe1" onclick="purchase.html">Buy</button></p>
                </div>
                <div class="shoe">
                    <img src="bck.jpg" alt="Picture glt laga di h tune">
                    <p> <button class="shoe1" onclick="purchase.html">Buy</button></p>
                </div>
                <div class="shoe">
                    <img src="bc.jpg" alt="Picture glt laga di h tune">
                    <p> <button class="shoe1" onclick="purchase.html">Buy</button></p>
                </div>
                <div class="shoe">
                    <img src="bc.jpg" alt="Picture glt laga di h tune">
                    <p> <button class="shoe1" onclick="purchase.html">Buy</button></p>
                </div>
            </div>
            <br>
            <div class="Women">
                <div class="shoe">
                    <img src="bck.jpg" alt="Picture glt laga di h tune">
                    <p> <button class="shoe1" onclick="purchase.html">Buy</button></p>
                </div>
                <div class="shoe">
                    <img src="bck.jpg" alt="Picture glt laga di h tune">
                   <p> <button class="shoe1" onclick="purchase.html">Buy</button></p>
                </div>
                <div class="shoe">
                    <img src="bc.jpg" alt="Picture glt laga di h tune">
                    <p> <button class="shoe1" onclick="purchase.html">Buy</button></p>
                </div>
                <div class="shoe">
                    <img src="bc.jpg" alt="Picture glt laga di h tune">
                    <p> <button class="shoe1" onclick="purchase.html">Buy</button></p>
                </div>
            </div>
        </div>
    </section>

</body>
</html>
